<a href="https://colab.research.google.com/github/aryanc55/LTFSDSFinHack3/blob/main/Copy_of_FeatureEngineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.cluster import KMeans
from scipy.spatial.distance import cdist
from functools import reduce
from datetime import datetime, timedelta
from pycaret.classification import *

In [ ]:
train_b = pd.read_excel('Train/train_bureau.xlsx')

In [ ]:
train_d = pd.read_excel('Train/train_Data.xlsx')

In [ ]:
train_b.head()

In [ ]:
test_d = pd.read_excel('Test/test_Data.xlsx')

In [ ]:
test_b = pd.read_excel('Test/test_bureau.xlsx')

In [153]:
test_b.head()

   ID  SELF-INDICATOR  ...                        AMT PAID - HIST TENURE
0   4           False  ...                                     0,    NaN
1   4           False  ...          ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,  120.0
2   4           False  ...          ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,  120.0
3   4            True  ...  ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,    NaN
4   5           False  ...                         ,,,,,,,,,,,,,,    NaN

[5 rows x 25 columns]

In [154]:
train_bb = train_b.copy()

In [155]:
test_bb = test_b.copy()

In [156]:
# Data Treatment:
#     -categorical vars

In [157]:
# id -dont do it
# self indiactor -nochange
# match type- not req
# acct type -required 3 columns chosen for remaning crosstab then combine cols
    
 #contributor type ARC is not ptesent in test so crosstab and then delete arc   
# ownership indicator no rpoblem
# account status not present in test Sold/Purchased ,Cancelled cross tab then delete                            
# credit limit CREDIT-LIMIT/SANC AMT  DISBURSED-AMT/HIGH CREDIT kbindiscretization
# installment not present in test data F04 F07  F08 crosstab then delete it
# asset class 2 not ptresent in test crosstab and remove it

In [158]:
train_b.ID

0              1
1              1
2              1
3              1
4              1
           ...
560839    143393
560840    143393
560841    143393
560842    143394
560843    143395
Name: ID, Length: 560844, dtype: int64

In [159]:
train_SELF_INDICATOR=pd.crosstab(train_b.ID,train_b['SELF-INDICATOR'],dropna= True).reset_index()
test_SELF_INDICATOR=pd.crosstab(test_b.ID,test_b['SELF-INDICATOR'],dropna= True).reset_index()

In [160]:
train_MATCH_TYPE=pd.crosstab(train_b.ID,train_b['MATCH-TYPE'],dropna= True).reset_index()
test_MATCH_TYPE=pd.crosstab(test_b.ID,test_b['MATCH-TYPE'],dropna= True).reset_index()

In [161]:
x = set(train_bb['ACCT-TYPE'].unique())  
y = set(test_bb['ACCT-TYPE'].unique()) 
common = x.intersection(y)
print(list(common)) #now decide cols to keep

['Microfinance Business Loan', 'Education Loan', 'Credit Card', 'Housing Loan', 'Commercial Vehicle Loan', 'Loan Against Shares / Securities', 'Commercial Equipment Loan', 'Mudra Loans   Shishu / Kishor / Tarun', 'SHG Individual', 'Business Loan Priority Sector  Others', 'Non-Funded Credit Facility', 'Construction Equipment Loan', 'Property Loan', 'Gold Loan', 'Microfinance Personal Loan', 'Overdraft', 'Microfinance Others', 'Individual', 'Corporate Credit Card', 'Loan to Professional', 'Used Car Loan', 'Fleet Card', 'Kisan Credit Card', 'Pradhan Mantri Awas Yojana - CLSS', 'Auto Loan (Personal)', 'Business Loan General', 'Loan Against Bank Deposits', 'Business Loan Against Bank Deposits', 'Business Non-Funded Credit Facility-Priority Sector-Agriculture', 'Business Non-Funded Credit Facility-Priority Sector- Small Business', 'Personal Loan', 'Consumer Loan', 'Two-Wheeler Loan', 'Business Loan Priority Sector  Agriculture', 'Secured Credit Card', 'Prime Minister Jaan Dhan Yojana - Overdraft', 'Other', 'Microfinance Housing Loan', 'Business Loan Unsecured', 'Business Loan - Secured', 'JLG Individual', 'Business Loan Priority Sector  Small Business', 'Business Non-Funded Credit Facility General', 'Tractor Loan']

In [162]:
train_ACCT_TYPE=pd.crosstab(train_b.ID,train_b['ACCT-TYPE'],dropna= True).reset_index()
test_ACCT_TYPE=pd.crosstab(test_b.ID,test_b['ACCT-TYPE'],dropna= True).reset_index()

cols_to_keep =['Tractor Loan','Gold Loan','Business Loan Priority Sector  Agriculture']

train_ACCT_TYPE["Others"] = pd.DataFrame(train_ACCT_TYPE.drop(columns=cols_to_keep).sum(axis=1))
test_ACCT_TYPE["Others"] = pd.DataFrame(test_ACCT_TYPE.drop(columns=cols_to_keep).sum(axis=1))
filter_cols =cols_to_keep + ['Others','ID'] 
train_ACCT_TYPE = train_ACCT_TYPE.filter(filter_cols)
test_ACCT_TYPE = test_ACCT_TYPE.filter(filter_cols)

In [163]:
train_CONTRIBUTOR_TYPE=pd.crosstab(train_b.ID,train_b['CONTRIBUTOR-TYPE'],dropna= True).drop(columns = ['ARC']).reset_index()
test_CONTRIBUTOR_TYPE=pd.crosstab(test_b.ID,test_b['CONTRIBUTOR-TYPE'],dropna= True).reset_index()

In [164]:
train_OWNERSHIP_IND=pd.crosstab(train_b.ID,train_b['OWNERSHIP-IND'],dropna= True).reset_index()
test_OWNERSHIP_IND=pd.crosstab(test_b.ID,test_b['OWNERSHIP-IND'],dropna= True).reset_index()

In [165]:
train_ACCOUNT_STATUS=pd.crosstab(train_b.ID,train_b['ACCOUNT-STATUS'],dropna= True).drop(columns=['Sold/Purchased','Cancelled']).reset_index()
test_ACCOUNT_STATUS=pd.crosstab(test_b.ID,test_b['ACCOUNT-STATUS'],dropna= True).reset_index()

In [166]:
train_INSTALLMENT_FREQUENCY=pd.crosstab(train_b.ID,train_b['INSTALLMENT-FREQUENCY'],dropna= True).drop(columns=['F04','F07','F08']).reset_index()
test_INSTALLMENT_FREQUENCY=pd.crosstab(test_b.ID,test_b['INSTALLMENT-FREQUENCY'],dropna= True).reset_index()

In [167]:
train_ASSET_CLASS=pd.crosstab(train_b.ID,train_b['ASSET_CLASS'],dropna= True).drop(columns=['2']).reset_index()
test_ASSET_CLASS=pd.crosstab(test_b.ID,test_b['ASSET_CLASS'],dropna= True).reset_index()

In [168]:
def onehotencoder(train,test,cols=[]):
    
    from sklearn.preprocessing import OneHotEncoder
    #object_cols = catVar1(train) #catVar1 gives desired categorical column and not all object columns
    object_cols=cols
    print(object_cols)
    
    OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
    OH_cols_train = pd.DataFrame(OH_encoder.fit_transform(train[object_cols]))
    OH_cols_test = pd.DataFrame(OH_encoder.transform(test[object_cols]))

    # One-hot encoding removed index; put it back
    OH_cols_train.index = train.index
    OH_cols_test.index = test.index

    ##hack for restoring columns names just like get dummies
    column_name = OH_encoder.get_feature_names(object_cols)
    OH_cols_train.columns = column_name
    OH_cols_test.columns = column_name
    

    # Remove desired categorical columns (will replace with one-hot encoding)
    num_train = train.drop(object_cols, axis=1)
    num_test = test.drop(object_cols, axis=1)

    # Add one-hot encoded columns to numerical/remaining features
    OH_train = pd.concat([num_train, OH_cols_train], axis=1)
    OH_test = pd.concat([num_test, OH_cols_test], axis=1)
    

    
    print(OH_train.shape,OH_test.shape)
    
    
    return OH_train,OH_test

def targetencoding(train,test,y_train,drop=False,cols=[]):
    import category_encoders as ce
    # Create the encoder itself
    cat_features = cols
    print(f'targest emcoding for features {cat_features}')
    target_enc = ce.TargetEncoder(cols=cat_features)

    

    # Fit the encoder using the categorical features and target
    target_enc.fit(train[cat_features], y_train)
    

    # Transform the features, rename the columns with _target suffix, and join to dataframe
    traintrgtenc = train.join(target_enc.transform(train[cat_features]).add_suffix('_target'))
    testtrgtenc = test.join(target_enc.transform(test[cat_features]).add_suffix('_target'))

    if drop :
        traintrgtenc = traintrgtenc.drop(cat_features, axis =1)
        testtrgtenc = testtrgtenc.drop(cat_features, axis =1)

    
    print(traintrgtenc.shape,testtrgtenc.shape)
    
    return traintrgtenc,testtrgtenc


def ordinalencoding(train,test,y_train,mapping,drop=False,cols=[]):
    import category_encoders as ce
    # Create the encoder itself
    cat_features = cols
    print(f'ordinal encoding for features {cat_features}')
    target_enc = ce.OrdinalEncoder(cols=cat_features,mapping = mapping)

    

    # Fit the encoder using the categorical features and target
    target_enc.fit(train[cat_features], y_train)
    

    # Transform the features, rename the columns with _target suffix, and join to dataframe
    traintrgtenc = train.join(target_enc.transform(train[cat_features]).add_suffix('_ordinal'))
    testtrgtenc = test.join(target_enc.transform(test[cat_features]).add_suffix('_ordinal'))

    if drop :
        traintrgtenc = traintrgtenc.drop(cat_features, axis =1)
        testtrgtenc = testtrgtenc.drop(cat_features, axis =1)

    
    print(traintrgtenc.shape,testtrgtenc.shape)
    
    return traintrgtenc,testtrgtenc

In [169]:
train_bb['DISBURSED-AMT/HIGH CREDIT'] = train_b['DISBURSED-AMT/HIGH CREDIT'].str.replace(',', '').astype('float')
test_bb['DISBURSED-AMT/HIGH CREDIT'] = test_b['DISBURSED-AMT/HIGH CREDIT'].str.replace(',', '').astype('float')

In [170]:
train_bb['CURRENT-BAL'] = train_b['CURRENT-BAL'].fillna(0)
test_bb['CURRENT-BAL'] = test_b['CURRENT-BAL'].fillna(0)
train_bb['CURRENT-BAL'] = train_b['CURRENT-BAL'].str.replace(',', '').astype('float')
test_bb['CURRENT-BAL'] = test_b['CURRENT-BAL'].str.replace(',', '').astype('float')

In [171]:

train_CURRENT = train_bb[['CURRENT-BAL','ID']].dropna()
test_CURRENT = test_bb[['CURRENT-BAL','ID']].dropna()

enc = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='kmeans')
enc.fit(train_bb['CURRENT-BAL'].dropna().values.reshape(-1,1))

train_CURRENT['CURRENT-BAL'] = enc.transform(train_CURRENT['CURRENT-BAL'].values.reshape(-1,1))
test_CURRENT['CURRENT-BAL']= enc.transform(test_CURRENT['CURRENT-BAL'].values.reshape(-1,1))

In [172]:
train_CURRENT=pd.crosstab(train_CURRENT.ID,train_CURRENT['CURRENT-BAL'],dropna= True).reset_index()
test_CURRENT=pd.crosstab(test_CURRENT.ID,test_CURRENT['CURRENT-BAL'],dropna= True).reset_index()
test_CURRENT['3.0']=0

In [173]:

train_DISBURSED = train_bb[['DISBURSED-AMT/HIGH CREDIT','ID']].dropna()
test_DISBURSED = test_bb[['DISBURSED-AMT/HIGH CREDIT','ID']].dropna()

enc = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='kmeans')
enc.fit(train_bb['DISBURSED-AMT/HIGH CREDIT'].dropna().values.reshape(-1,1))

train_DISBURSED['DISBURSED-AMT/HIGH CREDIT'] = enc.transform(train_DISBURSED['DISBURSED-AMT/HIGH CREDIT'].values.reshape(-1,1))
test_DISBURSED['DISBURSED-AMT/HIGH CREDIT']= enc.transform(test_DISBURSED['DISBURSED-AMT/HIGH CREDIT'].values.reshape(-1,1))

In [174]:
train_DISBURSED=pd.crosstab(train_DISBURSED.ID,train_DISBURSED['DISBURSED-AMT/HIGH CREDIT'],dropna= True).reset_index()
test_DISBURSED=pd.crosstab(test_DISBURSED.ID,test_DISBURSED['DISBURSED-AMT/HIGH CREDIT'],dropna= True).reset_index()
test_DISBURSED['2.0']=0

In [175]:
# #discretisation baes on clusters

# train_tenure = train_bb[['TENURE','ID']].dropna()
# test_tenure = test_bb[['TENURE','ID']].dropna()

# enc = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='kmeans')
# enc.fit(train_bb['TENURE'].dropna().values.reshape(-1,1))

# train_tenure['TENURE'] = enc.transform(train_tenure['TENURE'].values.reshape(-1,1))
# test_tenure['TENURE']= enc.transform(test_tenure['TENURE'].values.reshape(-1,1))

In [176]:
# train_tenure=pd.crosstab(train_tenure.ID,train_tenure['TENURE'],dropna= True).reset_index()
# test_tenure=pd.crosstab(test_tenure.ID,test_tenure['TENURE'],dropna= True).reset_index()

In [177]:
# train_SELF_INDICATOR
# train_INSTALLMENT_FREQUENCY
# train_ACCOUNT_STATUS
# train_OWNERSHIP_IND
# train_CONTRIBUTOR_TYPE
# train_ACCT_TYPE

In [178]:
dataframes = [train_b.ID,train_SELF_INDICATOR,train_INSTALLMENT_FREQUENCY,train_ACCOUNT_STATUS,train_OWNERSHIP_IND,
              train_CONTRIBUTOR_TYPE,train_ACCT_TYPE,train_MATCH_TYPE,train_ASSET_CLASS,train_CURRENT,train_DISBURSED]
final_df_train_beauro = reduce(lambda left, right: pd.merge(left, right, on='ID', how='left'), dataframes)

final_df_train_beauro = final_df_train_beauro.fillna(0)

In [179]:
dataframes = [test_b.ID,test_SELF_INDICATOR,test_INSTALLMENT_FREQUENCY,test_ACCOUNT_STATUS,test_OWNERSHIP_IND,
              test_CONTRIBUTOR_TYPE,test_ACCT_TYPE,test_MATCH_TYPE,test_ASSET_CLASS,test_CURRENT,test_DISBURSED]
final_df_test_beauro = reduce(lambda left, right: pd.merge(left, right, on='ID', how='left'), dataframes)
final_df_test_beauro = final_df_test_beauro.fillna(0)

In [180]:
###### now train data

In [181]:
train_dd = train_d.copy()
test_dd = test_d.copy()

In [182]:
train_dd.head()

   ID Frequency InstlmentMode  ...           State   ZiPCODE       Top-up Month
0   1   Monthly        Arrear  ...  MADHYA PRADESH  464993.0        > 48 Months
1   2   Monthly       Advance  ...  MADHYA PRADESH  466001.0  No Top-up Service
2   3   Quatrly        Arrear  ...  MADHYA PRADESH  462030.0       12-18 Months
3   7   Monthly       Advance  ...  MADHYA PRADESH  473335.0        > 48 Months
4   8   Monthly        Arrear  ...     CHATTISGARH  495442.0       36-48 Months

[5 rows x 26 columns]

In [183]:
train_dd['SEX'] = train_dd['SEX'].fillna(train_dd['SEX'].mode()[0])
test_dd['SEX'] = test_dd['SEX'].fillna(test_dd['SEX'].mode()[0])

train_dd['AGE'] = train_dd['AGE'].fillna(train_dd['AGE'].mode()[0])
test_dd['AGE'] = test_dd['AGE'].fillna(test_dd['AGE'].mode()[0])

train_dd['MonthlyIncome'] = train_dd['MonthlyIncome'].fillna(train_dd['MonthlyIncome'].mode()[0])
test_dd['MonthlyIncome'] = test_dd['MonthlyIncome'].fillna(test_dd['MonthlyIncome'].mode()[0])

train_dd['ZiPCODE']  =train_dd['ZiPCODE'].fillna(method = 'ffill').astype('int') 
test_dd['ZiPCODE']  =test_dd['ZiPCODE'].fillna(method = 'ffill').astype('int') 


train_dd =train_dd.fillna(method ='ffill') 
test_dd =test_dd.fillna(method = 'ffill')

In [184]:
train_dd['AuthDate'] = pd.to_datetime(train_d['AuthDate'] ,errors='coerce')
test_dd['AuthDate'] = pd.to_datetime(test_d['AuthDate'] ,errors='coerce')

train_dd['DisbursalDate'] = pd.to_datetime(train_d['DisbursalDate'] ,errors='coerce')
test_dd['DisbursalDate'] = pd.to_datetime(test_d['DisbursalDate'] ,errors='coerce')

train_dd['MaturityDAte'] = pd.to_datetime(train_d['MaturityDAte'] ,errors='coerce')
test_dd['MaturityDAte'] = pd.to_datetime(test_d['MaturityDAte'] ,errors='coerce')

train_dd = train_d.dropna()
#test_dd['MaturityDAte'] = test_d['MaturityDAte'].fillna(method='ffill')

In [185]:
train_dd['AuthtoMatureDays'] = (train_dd['AuthDate'] - train_dd['MaturityDAte']).astype('int')
test_dd['AuthtoMatureDays'] = (test_dd['AuthDate'] - test_dd['MaturityDAte']).astype('int')

train_dd['AuthtoDisDays'] = (train_dd['AuthDate'] - train_dd['DisbursalDate']).astype('int')
test_dd['AuthtoDisDays'] = (test_dd['AuthDate'] - test_dd['DisbursalDate']).astype('int')

In [186]:
train_dd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107126 entries, 1 to 128654
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                107126 non-null  int64
 1   Frequency         107126 non-null  object
 2   InstlmentMode     107126 non-null  object
 3   LoanStatus        107126 non-null  object
 4   PaymentMode       107126 non-null  object
 5   BranchID          107126 non-null  int64
 6   Area              107126 non-null  object
 7   Tenure            107126 non-null  int64
 8   AssetCost         107126 non-null  int64
 9   AmountFinance     107126 non-null  float64
 10  DisbursalAmount   107126 non-null  float64
 11  EMI               107126 non-null  float64
 12  DisbursalDate     107126 non-null  datetime64[ns]
 13  MaturityDAte      107126 non-null  datetime64[ns]
 14  AuthDate          107126 non-null  datetime64[ns]
 15  AssetID           107126 non-null  int64
 16  ManufacturerID    107126 non-null  int64
 17  SupplierID        107126 non-null  int64
 18  LTV               107126 non-null  float64
 19  SEX               107126 non-null  object
 20  AGE               107126 non-null  float64
 21  MonthlyIncome     107126 non-null  float64
 22  City              107126 non-null  object
 23  State             107126 non-null  object
 24  ZiPCODE           107126 non-null  float64
 25  Top-up Month      107126 non-null  object
 26  AuthtoMatureDays  107126 non-null  int64
 27  AuthtoDisDays     107126 non-null  int64
dtypes: datetime64[ns](3), float64(7), int64(9), object(9)
memory usage: 23.7+ MB

In [187]:
train_dd['AuthYear'] = train_dd['AuthDate'].dt.year
test_dd['AuthtYear'] = test_dd['AuthDate'].dt.year 
train_dd['AuthMonth'] = train_dd['AuthDate'].dt.month 
test_dd['AuthtMonth'] = test_dd['AuthDate'].dt.month  


train_dd['MaturityYear'] = train_d['MaturityDAte'].dt.year  
test_dd['MaturityYear'] = test_d['MaturityDAte'].dt.year  

train_dd['MaturityMonth'] = train_d['MaturityDAte'].dt.month  
test_dd['MaturityMonth'] = test_d['MaturityDAte'].dt.month

In [188]:
train_dd.isna().sum()
#test_dd.isna().sum()

ID                  0
Frequency           0
InstlmentMode       0
LoanStatus          0
PaymentMode         0
BranchID            0
Area                0
Tenure              0
AssetCost           0
AmountFinance       0
DisbursalAmount     0
EMI                 0
DisbursalDate       0
MaturityDAte        0
AuthDate            0
AssetID             0
ManufacturerID      0
SupplierID          0
LTV                 0
SEX                 0
AGE                 0
MonthlyIncome       0
City                0
State               0
ZiPCODE             0
Top-up Month        0
AuthtoMatureDays    0
AuthtoDisDays       0
AuthYear            0
AuthMonth           0
MaturityYear        0
MaturityMonth       0
dtype: int64

In [189]:
train_dd = train_dd.drop(columns=['City','Area','AuthDate','DisbursalDate','MaturityDAte'])
test_dd = test_dd.drop(columns=['City','Area','AuthDate','DisbursalDate','MaturityDAte'])

In [190]:
mapping_dict = {'No Top-up Service':0, '12-18 Months':1,'18-24 Months':2, '24-30 Months':3, 
                '30-36 Months':4,'36-48 Months':5,' > 48 Months':6}

In [191]:
train_dd['Top-up Month'] = train_dd['Top-up Month'].replace(mapping_dict)

In [192]:
mapping_dict_f= [
{'col': 'Frequency', 'mapping': {'BI-Monthly':0, 'Monthly': 1, 'Quatrly': 2,  'Half Yearly': 3}}
]

In [193]:
f1,f2 = ordinalencoding(train_dd,test_dd,train_dd['Top-up Month'],drop =True,cols=['Frequency'],mapping= mapping_dict_f)

ordinal encoding for features ['Frequency']
(107126, 27) (14745, 26)

In [194]:
f11,f22 = onehotencoder(f1,f2,cols=['InstlmentMode','LoanStatus','SEX'])

['InstlmentMode', 'LoanStatus', 'SEX']
(107126, 30) (14745, 29)

In [195]:
f111,f222 = targetencoding(f11,f22,f11['Top-up Month'],drop=True,cols=['PaymentMode','State','BranchID','ZiPCODE','ManufacturerID']) #because branch id and area same

targest emcoding for features ['PaymentMode', 'State', 'BranchID', 'ZiPCODE', 'ManufacturerID']
(107126, 30) (14745, 29)

In [198]:

# final_df_train_beauro.rename(columns={2.0: '2.0', 3.0: '3.0'}, inplace=True)

# final_df_test_beauro.rename(columns={2.0: '2.0', 3.0: '3.0'}, inplace=True)

In [199]:
dataframes = [f111,final_df_train_beauro]
final_df_train = reduce(lambda left, right: pd.merge(left, right, on='ID', how='left'), dataframes)

In [200]:
dataframes = [f222,final_df_test_beauro]
final_df_test = reduce(lambda left, right: pd.merge(left, right, on='ID', how='left'), dataframes)

In [201]:
final_df_test.isna().sum()

ID                 0
Tenure             0
AssetCost          0
AmountFinance      0
DisbursalAmount    0
                  ..
3.0                0
0.0                0
1.0                0
3.0                0
2.0                0
Length: 83, dtype: int64

In [115]:
# final_df_train = final_df_train.fillna(0)
# final_df_test = final_df_test.fillna(0)

In [202]:
final_df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 471743 entries, 0 to 471742
Data columns (total 84 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   ID                                          471743 non-null  int64
 1   Tenure                                      471743 non-null  int64
 2   AssetCost                                   471743 non-null  int64
 3   AmountFinance                               471743 non-null  float64
 4   DisbursalAmount                             471743 non-null  float64
 5   EMI                                         471743 non-null  float64
 6   AssetID                                     471743 non-null  int64
 7   SupplierID                                  471743 non-null  int64
 8   LTV                                         471743 non-null  float64
 9   AGE                                         471743 non-null  float64
 10  MonthlyIncome                               471743 non-null  float64
 11  Top-up Month                                471743 non-null  int64
 12  AuthtoMatureDays                            471743 non-null  int64
 13  AuthtoDisDays                               471743 non-null  int64
 14  AuthYear                                    471743 non-null  int64
 15  AuthMonth                                   471743 non-null  int64
 16  MaturityYear                                471743 non-null  float64
 17  MaturityMonth                               471743 non-null  float64
 18  Frequency_ordinal                           471743 non-null  int64
 19  InstlmentMode_Advance                       471743 non-null  float64
 20  InstlmentMode_Arrear                        471743 non-null  float64
 21  LoanStatus_Active                           471743 non-null  float64
 22  LoanStatus_Closed                           471743 non-null  float64
 23  SEX_F                                       471743 non-null  float64
 24  SEX_M                                       471743 non-null  float64
 25  PaymentMode_target                          471743 non-null  float64
 26  State_target                                471743 non-null  float64
 27  BranchID_target                             471743 non-null  float64
 28  ZiPCODE_target                              471743 non-null  float64
 29  ManufacturerID_target                       471743 non-null  float64
 30  False_x                                     471743 non-null  int64
 31  True_x                                      471743 non-null  int64
 32  F01                                         471743 non-null  float64
 33  F02                                         471743 non-null  float64
 34  F03                                         471743 non-null  float64
 35  F05                                         471743 non-null  float64
 36  F06                                         471743 non-null  float64
 37  F10                                         471743 non-null  float64
 38  Active                                      471743 non-null  int64
 39  Closed                                      471743 non-null  int64
 40  Delinquent                                  471743 non-null  int64
 41  Restructured                                471743 non-null  int64
 42  SUIT FILED (WILFUL DEFAULT)                 471743 non-null  int64
 43  Settled                                     471743 non-null  int64
 44  Suit Filed                                  471743 non-null  int64
 45  WILFUL DEFAULT                              471743 non-null  int64
 46  Written Off                                 471743 non-null  int64
 47  Guarantor                                   471743 non-null  int64
 48  Individual                                  471743 non-null  int64
 49  Joint                                       471743 non-null  int64
 50  Primary                                     471743 non-null  int64
 51  Supl Card Holder                            471743 non-null  int64
 52  CCC                                         471743 non-null  int64
 53  COP                                         471743 non-null  int64
 54  FRB                                         471743 non-null  int64
 55  HFC                                         471743 non-null  int64
 56  MFI                                         471743 non-null  int64
 57  NAB                                         471743 non-null  int64
 58  NBF                                         471743 non-null  int64
 59  OFI                                         471743 non-null  int64
 60  PRB                                         471743 non-null  int64
 61  RRB                                         471743 non-null  int64
 62  SFB                                         471743 non-null  int64
 63  Tractor Loan                                471743 non-null  int64
 64  Gold Loan                                   471743 non-null  int64
 65  Business Loan Priority Sector  Agriculture  471743 non-null  int64
 66  Others                                      471743 non-null  int64
 67  PRIMARY                                     471743 non-null  int64
 68  SECONDARY                                   471743 non-null  int64
 69  01                                          471743 non-null  float64
 70  1                                           471743 non-null  float64
 71  Doubtful                                    471743 non-null  float64
 72  Loss                                        471743 non-null  float64
 73  Special Mention Account                     471743 non-null  float64
 74  Standard                                    471743 non-null  float64
 75  SubStandard                                 471743 non-null  float64
 76  0.0_y                                       471743 non-null  int64
 77  1.0_y                                       471743 non-null  int64
 78  2.0_x                                       471743 non-null  int64
 79  3.0_x                                       471743 non-null  int64
 80  0.0                                         471743 non-null  int64
 81  1.0                                         471743 non-null  int64
 82  2.0_y                                       471743 non-null  int64
 83  3.0_y                                       471743 non-null  int64
dtypes: float64(32), int64(52)
memory usage: 305.9 MB

In [205]:
final_df_train.columns

Index([                                        'ID',
                                           'Tenure',
                                        'AssetCost',
                                    'AmountFinance',
                                  'DisbursalAmount',
                                              'EMI',
                                          'AssetID',
                                       'SupplierID',
                                              'LTV',
                                              'AGE',
                                    'MonthlyIncome',
                                     'Top-up Month',
                                 'AuthtoMatureDays',
                                    'AuthtoDisDays',
                                         'AuthYear',
                                        'AuthMonth',
                                     'MaturityYear',
                                    'MaturityMonth',
                                'Frequency_ordinal',
                            'InstlmentMode_Advance',
                             'InstlmentMode_Arrear',
                                'LoanStatus_Active',
                                'LoanStatus_Closed',
                                            'SEX_F',
                                            'SEX_M',
                               'PaymentMode_target',
                                     'State_target',
                                  'BranchID_target',
                                   'ZiPCODE_target',
                            'ManufacturerID_target',
                                          'False_x',
                                           'True_x',
                                              'F01',
                                              'F02',
                                              'F03',
                                              'F05',
                                              'F06',
                                              'F10',
                                           'Active',
                                           'Closed',
                                       'Delinquent',
                                     'Restructured',
                      'SUIT FILED (WILFUL DEFAULT)',
                                          'Settled',
                                       'Suit Filed',
                                   'WILFUL DEFAULT',
                                      'Written Off',
                                        'Guarantor',
                                       'Individual',
                                            'Joint',
                                          'Primary',
                                 'Supl Card Holder',
                                              'CCC',
                                              'COP',
                                              'FRB',
                                              'HFC',
                                              'MFI',
                                              'NAB',
                                              'NBF',
                                              'OFI',
                                              'PRB',
                                              'RRB',
                                              'SFB',
                                     'Tractor Loan',
                                        'Gold Loan',
       'Business Loan Priority Sector  Agriculture',
                                           'Others',
                                          'PRIMARY',
                                        'SECONDARY',
                                               '01',
                                                '1',
                                         'Doubtful',
                                             'Loss',
                          'Special Mention Account',
                                         'Standard',
                                      'SubStandard',
                                            '0.0_y',
                                            '1.0_y',
                                            '2.0_x',
                                            '3.0_x',
                                                0.0,
                                                1.0,
                                            '2.0_y',
                                            '3.0_y'],
      dtype='object')

In [209]:
final_df_train['Top-up Month'].value_counts()

0    320802
6     62978
5     23968
3     21152
4     17931
2     16338
1      8574
Name: Top-up Month, dtype: int64

In [206]:
cols = ['Tenure', 'AssetID','SupplierID', 'AGE',  'AuthYear', 'AuthMonth','MaturityYear','MaturityMonth', 'Frequency_ordinal','InstlmentMode_Advance','InstlmentMode_Arrear',
                                'LoanStatus_Active',
                                'LoanStatus_Closed', 'SEX_F','SEX_M','PaymentMode_target','State_target','BranchID_target','ZiPCODE_target','ManufacturerID_target',
                                          'False_x', 'True_x',
                                              'F01', 'F02','F03','F05','F06', 'F10',
                                           'Active', 'Closed','Delinquent', 'Restructured', 'SUIT FILED (WILFUL DEFAULT)','Settled', 'Suit Filed','WILFUL DEFAULT',
                                      'Written Off', 'Guarantor', 'Individual','Joint','Primary', 'Supl Card Holder',
                                              'CCC', 'COP', 'FRB', 'HFC', 'MFI', 'NAB',  'NBF', 'OFI', 'PRB', 'RRB', 'SFB',
                                     'Tractor Loan',
                                        'Gold Loan',
       'Business Loan Priority Sector  Agriculture',
                                           'Others',
                                          'PRIMARY',
                                        'SECONDARY',
                                               '01',
                                                '1',
                                         'Doubtful',
                                             'Loss',
                          'Special Mention Account',
                                         'Standard',
                                      'SubStandard',
                                            '0.0_y',
                                            '1.0_y',
                                            '2.0_x',
                                            '3.0_x',
                                            '0.0_x',
                                            '1.0_x',
                                            '2.0_y',
                                            '3.0_y'  ]

In [211]:
pycaret = setup(data =final_df_train , target ='Top-up Month',session_id=123 )

                               Description                                     Value
0                               session_id                                       123
1                                   Target                              Top-up Month
2                              Target Type                                Multiclass
3                            Label Encoded  0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6
4                            Original Data                              (471743, 84)
5                           Missing Values                                     False
6                         Numeric Features                                        52
7                     Categorical Features                                        31
8                         Ordinal Features                                     False
9                High Cardinality Features                                     False
10                 High Cardinality Method                                      None
11                   Transformed Train Set                             (330220, 213)
12                    Transformed Test Set                             (141523, 213)
13                      Shuffle Train-Test                                      True
14                     Stratify Train-Test                                     False
15                          Fold Generator                           StratifiedKFold
16                             Fold Number                                        10
17                                CPU Jobs                                        -1
18                                 Use GPU                                     False
19                          Log Experiment                                     False
20                         Experiment Name                          clf-default-name
21                                     USI                                      c112
22                         Imputation Type                                    simple
23          Iterative Imputation Iteration                                      None
24                         Numeric Imputer                                      mean
25      Iterative Imputation Numeric Model                                      None
26                     Categorical Imputer                                  constant
27  Iterative Imputation Categorical Model                                      None
28           Unknown Categoricals Handling                            least_frequent
29                               Normalize                                     False
30                        Normalize Method                                      None
31                          Transformation                                     False
32                   Transformation Method                                      None
33                                     PCA                                     False
34                              PCA Method                                      None
35                          PCA Components                                      None
36                     Ignore Low Variance                                     False
37                     Combine Rare Levels                                     False
38                    Rare Level Threshold                                      None
39                         Numeric Binning                                     False
40                         Remove Outliers                                     False
41                      Outliers Threshold                                      None
42                Remove Multicollinearity                                     False
43             Multicollinearity Threshold                                      None
44                              Clustering                                     False
45                    Clustering Iteration                                      None
46                     Polynomial Features                                     False
47                       Polynomial Degree                                      None
48                    Trignometry Features                                     False
49                    Polynomial Threshold                                      None
50                          Group Features                                     False
51                       Feature Selection                                     False
52            Features Selection Threshold                                      None
53                     Feature Interaction                                     False
54                           Feature Ratio                                     False
55                   Interaction Threshold                                      None
56                           Fix Imbalance                                     False
57                    Fix Imbalance Method                                     SMOTE

In [ ]:
compare_models(blacklist = ['svm'], sort = 'F1')   #

In [1]:
rf = create_model(estimator = 'rf')

NameError: ignored

In [ ]:
dt = create_model(estimator = 'dt')

In [ ]:
lgb = create_model(estimator = 'lightgbm')

In [ ]:
ridge = create_model(estimator = 'ridge')

In [ ]:
catboost = create_model(estimator = 'catboost')

In [ ]:
tune_rf = tune_model(estimator = 'rf',  optimize = 'F1',  verbose = True)

In [ ]:
tune_dt = tune_model(estimator = 'dt',  optimize = 'F1',  verbose = True)

In [ ]:
tune_lda = tune_model(estimator = 'lda',  optimize = 'F1',  verbose = True)

In [ ]:
tune_lgb = tune_model(estimator = 'lightgbm',  optimize = 'F1',  verbose = True)

In [ ]:
tune_ridge = tune_model(estimator = 'ridge',  optimize = 'F1',  verbose = True)

In [ ]:
tune_ridge = tune_model(estimator = 'catboost',  optimize = 'F1',  verbose = True)

In [ ]:
blend_specific_hard = blend_models(estimator_list = [tune_rf,tune_ridge,tune_lgb], method = 'hard')

In [ ]:
blend_specific_soft = blend_models(estimator_list = [tune_rf,tune_et,tune_lgb], method = 'soft') #those who support predict prob

In [ ]:
plot_model(estimator=tune_et, plot='feature')

In [ ]:
plot_model(tune_et, plot = 'confusion_matrix')

In [ ]:
final_tune_rf = finalize_model(tune_rf)

In [ ]:
final_tune_rf = finalize_model(tune_rf)

In [ ]:
final_tune_rf = finalize_model(tune_rf)

In [ ]:
final_tune_rf = finalize_model(tune_rf)

In [ ]:
final_tune_rf = finalize_model(tune_rf)

In [ ]:
prediction_ = predict_model(estimator, data=final_df_test,verbose=True)

In [ ]:
submisson = pd.read_csv('/content/drive/MyDrive/LTFSDSFinHack3/sample_submission_ejm25Dc.csv')

In [ ]:
submission['Top-up Month'] = predict_tune...['Top-up Month']

In [ ]:
mapping_dict = {'No Top-up Service':0, '12-18 Months':1,'18-24 Months':2, '24-30 Months':3, 
                '30-36 Months':4,'36-48 Months':5,' > 48 Months':6}

In [ ]:
submission['Top-up Month'] = submission['Top-up Month'].replace(mapping_dict)

In [ ]:
submission.to_csv('model.csv', index =False)